extends layout
include _mixins/firstWordSelection

block content
    section#home.padbot0
        #headerwrap
            .container
                .row
                    .col-lg-8.col-lg-offset-2.mt
                        h1(style='color:#000000')
                            b= siteName
                        h2(style='color:#000000')= landHeader
                        each contact in contacts
                            each item in contact.phones
                                P
                                    b
                                        a(href='tel:#{item.phone}')
                                            span(style='font-size:21px;color:#000000;')
                                                i.fa.fa-phone(aria-hidden='true')
                                                | &nbsp;#{item.phone}&nbsp;
                                                case item.op
                                                    when "Velcom"
                                                        span(style='font-size:22px;color:#fbb203;')= item.op
                                                    when "Viber"
                                                        span(style='font-size:22px;color:#30006e;')= item.op
                                                    default
                                                        span(style='font-size:22px;color:#e00707;')= item.op
    section#about
        .services_block.padbot40(data-appear-top-offset='0', data-animated='fadeInUp')
            .container
                .row
                    each advantage in advantages
                        .col-lg-3.col-md-3.col-sm-6.col-xs-6.col-ss-12.margbot30
                            a.services_item(href='javascript:void(0);')
                                p
                                    b= advantage.title
                                span= advantage.body
            .container
                .row
                    h2(align='center')= tools.header
                .row.top_space
                    .col-xs-0.col-sm-0.col-md-1.col-lg-1
                    each item in tools.images
                        .col-xs-12.col-sm-12.col-md-2.col-lg-2
                            div(align='center')
                                img(src='#{item.path}')
                    .col-xs-0.col-sm-0.col-md-1.col-lg-1
        br
        br

        section#projects.padbot20
        .container
            h2
               +firstWordSelection(ourWorks.header)
        .projects-wrapper(data-appear-top-offset='-200', data-animated='fadeInUp')
            .owl-demo.owl-carousel.projects_slider
                each item in ourWorks.images
                    .item
                        .work_item
                            .work_img
                                img(src='#{item.compressed}')
                                a.zoom(href='#{item.original}', rel='prettyPhoto[portfilio1]')
    section#onas
        .purpose_block
            .container
                .row
                    .col-lg-7.col-md-7.col-sm-7(data-appear-top-offset="-200", data-animated="fadeInLeft")
                        h2
                            +firstWordSelection(description.header)
                        p= description.body
                        a.btn.btn-active(rel='nofollow', href='#{taxInfo.linkToProfile}')
                            span(data-hover='Посмотреть') Отзывы на Onliner.by
                    .col-lg-5.col-md-5.col-sm-5.ipad_img_in(data-appear-top-offset='-200', data-animated='fadeInRight')
                        img.ipad_img1(src='#{taxInfo.scanDocument}')
    br
    section#news
        .container
            h2
                +firstWordSelection(reviews.header)
            .testimonials(data-appear-top-offset='-200', data-animated='fadeInUp')
                .owl-demo.owl-carousel.testim_slider
                    each item in reviews.items
                        .item
                            .testim_content
                                | “#{item.body}”
                            .testim_author
                                | —#{item.name},
                                b  на заказ: #{item.work}
    script(type='text/javascript').
        //PrettyPhoto
        $(document).ready(function () {
            $("a[rel^='prettyPhoto']").prettyPhoto();
        });