extends layout

block content
    section.breadcrumbs_block.clearfix.parallax
        .container.center
            h2(style='color:#000000')
                b= header
            p(style='color:#000000')= landHeader
    section#blog
        .container
            .row
                .blog_block.col-lg-9.col-md-9.padbot50
                    .single_blog_post.clearfix(data-animated='fadeInUp')
                        .single_blog_post_descr
                        .single_blog_post_content
                            br
                            each block in priceData
                                table.table
                                    h2= block.blockName
                                    tr
                                        th/
                                        th
                                            b Бел. Руб
                                        th
                                            b за м
                                            sup 2
                                            |/
                                            br
                                            |м.п.
                                        each part in block.parts
                                            tr
                                                td
                                                    b= part.partName
                                                td/
                                                td/
                                            each line in part.lines
                                                tr
                                                    td= line.name
                                                    td= line.cost
                                                    if line.unit
                                                        td шт.
                                                    else
                                                        td
                                                            |за м
                                                            sup 2
                    hr
                    .sidepanel.widget_text
                        h3
                            a(href='#{priceLink}')
                                b Скачать
                            |&nbsp;прайс-лист на услуги в EXCEL таблице